.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  padding: 0;
  flex-direction: row;
  font-size: calc(35px + 2vmin);
  color: white;
}

.first-title{
  width: 100%;
  margin-left: 0;
  align-content: left;
}

#Wellbeing-tag{
  padding-right: 15px;
  font-weight: bolder;
  color: rgb(94, 97, 110);
}

#Services-tag{
  font-weight: bold;
  color: rgb(141, 144, 151);
}


.logo{
  float: right;
  padding-top: 25px;
  padding-right: 100px;
}

#bath-logo{
  width: 300px;
}

ul{
  list-style-type: none;
  float: left;
  padding-left: 60px;
}

ul li{
  display: inline;
  font-family: 'Times New Roman', Times, serif;
}

.App-body{
  margin: 30px;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container{
  background-color: rgba(194, 212, 189, 0.6);
  display: flex;
  flex-direction: column;
  width: 95%;
  border-radius: 10px;
  border: 2px solid rgb(75, 87, 72);
  box-shadow: 1px 1px 18px 15px rgba(51, 51, 51, 0.3);
  padding-bottom: 50px;
}

.second-title{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#second-title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  padding-top: 40px;
  margin: 0;
  color: rgb(51, 51, 51);
}

.red-line{
  border: 2px red;
  background-color: red;
  height: 5px;
  width: 30%;
  align-self: center;
}

#subheading{
  font-size: 20px;
  font-style: italic;
  margin-left: 100px;
  margin-right: 100px;
}

.activities-container{
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-evenly;
}

h3 {
  cursor: pointer;
}

.first-title{
  width: 100%;
  margin-left: 0;
}

.calendar-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#prev, #next{
  align-self: center;
  margin: 10px;
  font-size: 35px;
}

table{
  padding: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 15px 5px rgba(51, 51, 51, 0.3);
  margin-top: 30px;
  align-self: center;
  width: 80%;
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
  border-bottom: 5px solid rgb(28, 30, 36);
  border-right: 5px solid rgb(28, 30, 36);
  border-left: 5px solid rgb(28, 30, 36);

}

#year-tag{
  font-weight: bolder;
  color: white;
  border-left: 2px solid rgb(28, 30, 36);
  border-right: 2px solid rgb(28, 30, 36);
  border-top: 2px solid rgb(28, 30, 36);
  border-bottom: 2px solid rgb(28, 30, 36);
  background-color: rgb(28, 30, 36) ;
  padding: 12px;
  width: 12.5%;
}

td, th{
  border-bottom: 1px solid rgba(141, 144, 151, 0.4);
  border-right: 1px solid rgba(141, 144, 151, 0.4);
  border-collapse: collapse;
}

#time{
  border-radius: 2px;
  padding: 8px;
  border-left: 2px solid rgb(28, 30, 36);
  border-right: 2px solid rgb(28, 30, 36);
  background-color:rgba(194, 212, 189, 0.3) ;

}

#day-tag, #hour-tag{
  border-left: 2px solid rgb(28, 30, 36);
  border-right: 2px solid rgb(28, 30, 36);
  border-top: 2px solid rgb(28, 30, 36);
  border-bottom: 2px solid rgb(28, 30, 36);
  background-color:rgba(194, 212, 189, 1) ;
  padding: 12px;
  width: 12.5%;
}

#hour-tag{
  background-color:rgba(194, 212, 189, 1);
  border-left: 2px solid rgb(28, 30, 36);
  border-right: 2px solid rgb(28, 30, 36);
}

/*#gs{
  background-color: red;
  font-weight: bolder;
  color: white;
}

#dw{
  background-color: rgb(206, 0, 189);
  font-weight: bolder;
  color: white;
}

#cc{
  background-color: rgb(1, 44, 175);
  font-weight: bolder;
  color: white;
}

#tcr{
  background-color: rgb(240, 216, 1);
  font-weight: bolder;
  color: white;
}

#cw{
  background-color: rgb(255, 153, 94);
  font-weight: bolder;
  color: white;
}

#asg{
  background-color: green;
  font-weight: bolder;
  color: white;
}

#ds{
  background-color: rgb(94, 97, 110);
  font-weight: bolder;
  color: white;
}*/

#book:hover{
  background-color: white;
  font-weight: bolder;
  border: 2px solid red;
  transition: 0.2s;
  color: red;
}


.footer{
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  font-size: 16px;
}

.formattedLink{
  color: black;
  text-decoration: none;
}

.formattedLink:hover{
  color: red;
}

h2{
  padding-right: 10px;
}

#footer-tag{
  padding-right: 10px;
}

#footer-tag:hover{
  color: red;

} 



