.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  padding: 0;
  flex-direction: row;
  font-size: calc(35px + 2vmin);
  color: white;
}

.first-title{
  width: 100%;
  margin-left: 0;
  align-content: left;
}

#Wellbeing-tag{
  padding-right: 15px;
  font-weight: bolder;
  color: rgb(94, 97, 110);
}

#Services-tag{
  font-weight: bold;
  color: rgb(141, 144, 151);
}


.logo{
  float: right;
  padding-top: 25px;
  padding-right: 100px;
}

#bath-logo{
  width: 300px;
}

ul{
  list-style-type: none;
  float: left;
  padding-left: 60px;
}

ul li{
  display: inline;
  font-family: 'Times New Roman', Times, serif;
}

.App-body{
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container{
  background-color: rgba(194, 212, 189, 0.6);
  display: flex;
  flex-direction: column;
  width: 95%;
  border-radius: 10px;
  border: 2px solid rgb(75, 87, 72);
  box-shadow: 1px 1px 30px 15px rgba(51, 51, 51, 0.3);
  padding-bottom: 50px;
}

.second-title{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#second-title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  padding-top: 40px;
  margin: 0;
  color: rgb(51, 51, 51);
}

.red-line{
  background-color: red;
  color: red;
  font-size: 5px;
  align-self: center;
  width: 20%;
  margin-top: 10px;
}

#subheading{
  font-size: 20px;
  font-style: italic;
  margin-left: 100px;
  margin-right: 100px;
}

.activities-container{
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-evenly;
}

button{
  padding: 17px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  border-radius: 7px;
  background-color: rgb(28, 30, 36);
}

button:hover{
  background-color: red;
}

table{
  padding: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 20px 15px rgba(51, 51, 51, 0.3);
  margin-top: 30px;
  align-self: center;
  width: 80%;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
}

#time{
  padding: 8px;
}

#day-tag, #hour-tag{
  padding: 12px;
}

.footer{
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  font-size: 16px;
}

h2{
  padding-right: 10px;
}

#footer-tag{
  padding-right: 10px;
}

#footer-tag:hover{
  color: red;

} 



