.Input-box {
    background-color: white;
    height: 30px;
    width: 250px;
    font-size: medium;
    border-radius: .25rem;
}

.Login-button {
    cursor: pointer;
    background-color: #0013ae;
    height: 50px;
    width: 100px;
    font-size: medium;
    text-align: center;
    color: white;
    border-radius: .25rem;
}

.Back-button {
    cursor: pointer;
    background-color: #0013ae;
    height: 50px;
    width: 100px;
    font-size: medium;
    text-align: center;
    color: white;
    border-radius: .25rem;
}

.backLink {
    color: white;
    text-decoration: none;
}

.backLink:hover {
    color: black;
    transition: 0.2s;
}