:root {
    --gsColour:  white;
    --dwColour:  white;
    --ccColour:  white;
    --tcrColour: white;
    --cwColour:  white;
    --asgColour: white;
    --dsColour:  white;
}

button{
    border: 1px solid rgb(51, 51, 51);
    padding: 10px;
    margin-left: 3px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 6px;
    background-color: rgb(28, 30, 36);
}

button:hover{
    transition: 0.2s;
    color: inherit;
}

input[type="checkbox"]{
    display: none;
}

.gsLabel {
    background-color: var(--gsColour);
    border: 1px solid black;
    padding: 5px;
}
.dwLabel {
    background-color: var(--dwColour);
    border: 1px solid black;
    padding: 5px;
}
.ccLabel {
    background-color: var(--ccColour);
    border: 1px solid black;
    padding: 5px;
}
.tcrLabel {
    background-color: var(--tcrColour);
    border: 1px solid black;
    padding: 5px;
}
.cwLabel {
    background-color: var(--cwColour);
    border: 1px solid black;
    padding: 5px;
}
.asgLabel {
    background-color: var(--asgColour);
    border: 1px solid black;
    padding: 5px;
}
.dsLabel {
    background-color: var(--dsColour);
    border: 1px solid black;
    padding: 5px;
}

.calLink {
    color: black;
    text-decoration: none;
}

.myBookingsLink {
    color: white;
    text-decoration: none;
}

.showAllLabel {
    width: 100px;
    font-size: 15px;
    align-content:  center;
    text-align: center;
    align-items: center;
    alignment: center;
}

label {
    cursor: pointer;
    padding: 17px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    display: block;
    border-radius: 7px;
    margin: 3px;
    background-color: rgb(28, 30, 36);
}

input[type="checkbox"]:hover + label[for="gs"]{
    background: red;
    transition: 0.1s;
}
input[type="checkbox"]:checked + label[for="gs"] {
    color: #ffffff;
    font-weight: bold;
    background: red;
}

input[type="checkbox"]:hover + label[for="dw"] {
    background: rgb(206, 0, 189);
    transition: 0.1s;
}
input[type="checkbox"]:checked + label[for="dw"] {
    color: #ffffff;
    font-weight: bold;
    background: rgb(206, 0, 189);
}

input[type="checkbox"]:hover + label[for="cc"] {
    background: rgb(1, 44, 175);
    transition: 0.1s;
}
input[type="checkbox"]:checked + label[for="cc"] {
    color: #ffffff;
    font-weight: bold;
    background: rgb(1, 44, 175);
}

input[type="checkbox"]:hover + label[for="tcr"] {
    background: rgb(240, 216, 1);
    transition: 0.1s;
}
input[type="checkbox"]:checked + label[for="tcr"] {
    color: #ffffff;
    font-weight: bold;
    background: rgb(240, 216, 1);
}

input[type="checkbox"]:hover + label[for="cw"] {
    background: rgb(255, 153, 94);
    transition: 0.1s;
}
input[type="checkbox"]:checked + label[for="cw"] {
    color: #ffffff;
    font-weight: bold;
    background: rgb(255, 153, 94);
}

input[type="checkbox"]:hover + label[for="asg"] {
    background: green;
    transition: 0.1s;
}
input[type="checkbox"]:checked + label[for="asg"] {
    color: #ffffff;
    font-weight: bold;
    background: green;
}

input[type="checkbox"]:hover + label[for="ds"] {
    background: rgb(94, 97, 110);
    transition: 0.1s;
}
input[type="checkbox"]:checked + label[for="ds"] {
    color: #ffffff;
    font-weight: bold;
    background: rgb(94, 97, 110);
}

#show-all, #my-bookings{
    width: 150px;
    padding: 2px;
    margin-top: 30px;
}

#show-all:hover, #my-bookings:hover{
    width: 150px;
    padding: 2px;
    margin-top: 30px;
    background-color: red;
}
